.container {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: 0px auto;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}

footer {
  flex-shrink: 0;
}

h1 {
  color: var(--color-content-primary);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-regular);
  line-height: 1.1em;
  margin-top: 4rem;
}

h2 {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
}

p {
  font-size: var(--font-size-xs);
}

p.label,
label {
  font-size: var(--font-size-xxs);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  margin-bottom: var(--spacing-050);
}