.button {
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-rounded);
    border: none;
    font-size: var(--font-size-xl);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.fill {
    background: var(--color-surface-highlight);
    color: var(--color-content-tertiary);
}

.stroke {
    background: transparent;
    fill: none;
    stroke: var(--color-content-secondary);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}