.badge {
    background: var(--color-surface-danger);
    color: var(--color-content-primary);
    display: flex;
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-rounded);
    width: 0.75em;
    height: 0.75em;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4px;
    right: 4px;
}

.largeCount {
    width: 1.0625rem;
}