.footer {
  padding: var(--spacing-125) var(--spacing-100) var(--spacing-100);
  background: linear-gradient(transparent, var(--color-surface-primary) 30%);
}

.nav {
  display: flex;
  justify-content: space-around;
  background: var(--color-surface-secondary);
  padding: var(--spacing-075) 0;
  border: 1px solid var(--color-border-primary);
  border-radius: var(--border-radius-large);
}

.link {
  position: relative;
  padding: var(--spacing-050) var(--spacing-100);
  border-radius: var(--border-radius-large);
  text-decoration: none;
  font-size: var(--font-size-xxs);
  color: var(--color-content-secondary);
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.active {
  color: var(--color-content-highlight);
  font-weight: var(--font-weight-bold);
}
