.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 50;
    padding: var(--spacing-125) var(--spacing-100) var(--spacing-100);
}

.actionContainer {
    display: flex;
    align-items: center;
    gap: 10;
}

.bellIcon {
    width: 22px;
    height: 22px;
    fill: none;
    stroke: var(--color-content-secondary);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}