.logo {
    font-family: var(--font-family-serif);
    font-weight: var(--font-weight-regular);
    color: var(--color-content-primary);
}

.small {
    font-size: var(--font-size-xl);
}

.display {
    font-size: var(--font-size-display);
}